<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
    <link rel="stylesheet" href="../static/css/homeIndex.css">
</head>
<body>
<footer id="bottom">
    <div class="bottom_wrap">
        <div class="bottom_top">
            <div class="bottom_top_left">
                <img src="../static/img/kefu.png" alt="">
                <h2>售前咨询热线</h2>
                <p class="">95187转1</p>
                <ul class="bottom_top_left_list">
                    <li><a href="">专业技术咨询</a></li>
                    <li><a href="">全方位产品解读</a></li>
                    <li><a href="">成熟解决方案</a></li>
                    <li><a href="">成功客户案例分享</a></li>
                </ul>
            </div>
            <div class="bottom_top_right">
                <ul class="bottom_top_right_list">
                    <li>
                        <h3>支持与服务</h3>
                        <ul>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3>账户管理</h3>
                        <ul>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3>快速入口</h3>
                        <ul>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3>资源和社区</h3>
                        <ul>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3>关注阿里云</h3>
                        <ul>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>
                            <li>
                                <a href="">联系我们</a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bottom_middle">
            <ul class="bottom_middle_list">
                <li>
                    <h3 class="bottom_middle_list_title">热门产品</h3>
                    <ul class="bottom_middle_list_introduce">
                        <li>
                            <a href="">免费套餐</a>
                        </li>
                        <li>
                            <a href="">云数据库RDS</a>
                        </li>
                        <li>
                            <a href="">云数据库RDS</a>
                        </li>
                        <li>
                            <a href="">云数据库RDS</a>
                        </li>
                        <li>
                            <a href="">云数据库RDS</a>
                        </li>
                        <li>
                            <a href="">免费套餐</a>
                        </li>
                        <li>
                            <a href="">免费套餐</a>
                        </li>
                        <li>
                            <a href="">免费套餐</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <h3 class="bottom_middle_list_title">用户热搜</h3>
                    <ul class="bottom_middle_list_introduce">
                        <li>
                            <a href="">免费套餐</a>
                        </li>
                        <li>
                            <a href="">免费套餐</a>
                        </li>
                        <li>
                            <a href="">免费套餐</a>
                        </li>
                        <li>
                            <a href="">免费套餐</a>
                        </li>
                        <li>
                            <a href="">云数据库RDS</a>
                        </li>
                        <li>
                            <a href="">云数据库RDS</a>
                        </li>
                        <li>
                            <a href="">云数据库RDS</a>
                        </li>
                        <li>
                            <a href="">云数据库RDS</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <h3 class="bottom_middle_list_title">更多推荐</h3>
                    <ul class="bottom_middle_list_introduce">
                        <li>
                            <a href="">云数据库RDS</a>
                        </li>
                        <li>
                            <a href="">云数据库RDS</a>
                        </li>
                        <li>
                            <a href="">云数据库RDS</a>
                        </li>
                        <li>
                            <a href="">免费套餐</a>
                        </li>
                        <li>
                            <a href="">免费套餐</a>
                        </li>
                        <li>
                            <a href="">免费套餐</a>
                        </li>
                        <li>
                            <a href="">免费套餐</a>
                        </li>
                        <li>
                            <a href="">免费套餐</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="bottom_foot">
            <div class="copyright">
                <p class="bottom_foot_big">
                    <a href="">关于我们</a>
                    <a href="">法律声明及隐私权政策</a>
                    <a href="">廉正举报</a>
                    <a href="">联系我们</a>
                    <a href="">加入阿里云</a>
                </p>
                <p class="link_wrap">
                    <a href="">阿里巴巴集团</a>
                    <a href="">淘宝网</a>
                    <a href="">聚划算</a>
                    <a href="">天猫</a>
                    <a href="">阿里巴巴国际交易市场</a>
                    <a href="">阿里巴巴集团</a>
                    <a href="">淘宝网</a>
                    <a href="">聚划算</a>
                    <a href="">天猫</a>
                    <a href="">阿里巴巴国际交易市场</a>
                    <a href="">阿里巴巴集团</a>
                    <a href="">淘宝网</a>
                    <a href="">聚划算</a>
                    <a href="">天猫</a>
                    <a href="">阿里巴巴国际交易市场</a>
                    <a href="">阿里巴巴集团</a>
                    <a href="">淘宝网</a>
                    <a href="">聚划算</a>
                    <a href="">天猫</a>
                    <a href="">阿里巴巴国际交易市场</a>
                </p>
                <p class="copyright_num">
                    © 2009-2018 Aliyun.com 版权所有 ICP证：浙B2-20080101
                </p>
                <a href="" class="copyright_img">
                    <img src="../static/img/copyright01.gif" alt="">
                </a>
                <a href="" class="copyright_img">
                    <img src="../static/img/copyright02.png" alt="">
                </a>
                <span>浙公网安备 33010002000099号</span>
            </div>
        </div>
    </div>
</footer>
</body>
</html>