<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/homeIndex.css">
    <script src="../static/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="../static/js/homeIndex.js" type="text/javascript"></script>
</head>
<body>
<header>
    <div id="top_header">
        <div class="top_logo">
            <a href="" class="top_logo">
                <img src="../static/img/logo1.png" alt="">
                <img class="logo_move" src="../static/img/move.gif" alt="">
            </a>
        </div>
        <div class="top_header_list">
            <ul>
                <li id="top_header_list_first">
                    <div class="div1">
                        <img src="../static/img/earth.png" alt="">
                    </div>
                    <p>中国站</p>
                    <div class="div2">
                        <img class="img01" src="../static/img/arrow-down.png" alt="">
                        <img class="img02" src="../static/img/arrow-up.png" alt="" >
                    </div>
                    <ul class="top_header_list_first_dropdown">
                        <li class="current">
                            <a href="">中国站</a>
                        </li>
                        <li>
                            <a href="">International&nbsp;-&nbsp;English</a>
                        </li>
                        <li>
                            <a href="">International&nbsp;-&nbsp;简体中文</a>
                        </li>
                        <li>
                            <a href="">日本サイト</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">控制台</a>
                </li>
                <li>
                    <a href="">文档</a>
                </li>
                <li>
                    <a href="">备案</a>
                </li>
                <li>
                    <a href="">邮箱</a>
                </li>
                <li>
                    <a href="">登陆</a>
                </li>
            </ul>
        </div>
        <div class="top_header_search">
            <div class="top_header_search_container">
                <input type="text" class="top_header_search_input" placeholder="云投屏">
                <div class="top_header_search_icon">
                    <a href="">
                        <span>|</span>
                        <img src="../static/img/search icon3.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="top_nav">
        <div class="top_nav_content">
            <div class="all_nav">
                <img src="../static/img/more.png" alt="">
                <span>全部导航</span>
            </div>
            <ul id="nav_list">
                <li>
                    <a href="">最新活动</a>
                    <img src="../static/img/hotIcon.png" alt="">
                </li>
                <li class="product_dropdown">
                    <a href="">产品</a>
                </li>
                <li>
                    <a href="">解决方案</a>
                </li>
                <li>
                    <a href="">定价</a>
                </li>
                <li>
                    <a href="">ET大脑</a>
                </li>
                <li>
                    <a href="">智能数据</a>
                </li>
                <li>
                    <a href="">安全</a>
                </li>
                <li>
                    <a href="">云市场</a>
                </li>
                <li>
                    <a href="">支持服务</a>
                </li>
                <li>
                    <a href="">合作伙伴</a>
                </li>
                <div class="line"></div>
            </ul>
        </div>
        <a href="" class="nav_list_btn">免费注册</a>
        <div class="top_nav_dropdown">
            <div class="dropdown_level1_nav">
                <div class="level_inner">
                    <ul>
                        <li class="slide_animation inner_text">
                            <a href="">产品</a>
                        </li>
                        <li class="slide_animation inner_text">
                            <a href="">产品</a>
                        </li>
                        <li class="slide_animation inner_text">
                            <a href="">产品</a>
                        </li>
                        <li class="slide_animation inner_text">
                            <a href="">产品</a>
                        </li>
                        <li class="slide_animation inner_text">
                            <a href="">产品</a>
                        </li>
                        <li class="slide_animation inner_text">
                            <a href="">产品</a>
                        </li>
                        <li class="slide_animation inner_text">
                            <a href="">产品</a>
                        </li>
                        <li class="slide_animation inner_text">
                            <a href="">产品</a>
                        </li>
                        <li class="slide_animation inner_text">
                            <a href="">产品</a>
                        </li>
                        <li class="slide_animation inner_text">
                            <a href="">产品</a>
                        </li>
                        <li class="slide_animation inner_text">
                            <a href="">产品</a>
                        </li>
                        <li class="slide_animation inner_text">
                            <a href="">产品</a>
                        </li>
                        <li class="slide_animation inner_text">
                            <a href="">产品</a>
                        </li>
                        <li class="slide_animation inner_text">
                            <a href="">产品</a>
                        </li>
                        <li class="slide_animation inner_text">
                            <a href="">产品</a>
                        </li>
                        <li class="slide_animation inner_text">
                            <a href="">产品</a>
                        </li>
                        <li class="slide_animation inner_text">
                            <a href="">产品</a>
                        </li>
                        <li class="slide_animation inner_text">
                            <a href="">产品</a>
                        </li>
                        <li class="slide_animation inner_text">
                            <a href="">产品</a>
                        </li>
                    </ul>
                    <div class="space-line slide-animation"></div>
                    <div>
                        <div class="slide-animation inner_text">
                            <a href="">政府通道</a>
                            <img src="../static/img/send-icon.png" alt="">
                        </div>
                        <div class="slide-animation inner_text">
                            <a href="">产品发布台</a>
                            <img src="../static/img/send-icon.png" alt="">
                        </div>
                    </div>
                    <div class="dock-bottom">
                        售前咨询 95187转1
                    </div>
                </div>
            </div>
            <div class="top_nav_product">
                <div class="dropdown_level1_content dropdown_level2_nav">
                    <div class="level_inner">
                        <ul>
                            <li class="slide_animation inner_text">
                                <a href="">产品</a>
                            </li>
                            <li class="slide_animation inner_text">
                                <a href="">产品</a>
                            </li>
                            <li class="slide_animation inner_text">
                                <a href="">产品</a>
                            </li>
                            <li class="slide_animation inner_text">
                                <a href="">产品</a>
                            </li>
                            <li class="slide_animation inner_text">
                                <a href="">产品</a>
                            </li>
                            <li class="slide_animation inner_text">
                                <a href="">产品</a>
                            </li>
                            <li class="slide_animation inner_text">
                                <a href="">产品</a>
                            </li>
                            <li class="slide_animation inner_text">
                                <a href="">产品</a>
                            </li>
                            <li class="slide_animation inner_text">
                                <a href="">产品</a>
                            </li>
                            <li class="slide_animation inner_text">
                                <a href="">产品</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="dropdown_level2_content">
                    <div class="dropdown_level2_detail_list">
                        <div class="level_inner dropdown_level2_content_inner">
                            <div class="slide_animation dropdown_level2_detail_list_title">
                                弹性计算
                            </div>
                            <div>
                                <div class=" content_wrapper">
                                    <a href="" class="content_link">
                                        <div class="content_name">云服务器 ECS</div>
                                        <div class="content_description">全面覆盖多场景需求的高性能云服务器</div>
                                    </a>
                                </div>
                                <div class=" content_wrapper">
                                    <a href="" class="content_link">
                                        <div class="content_name">云服务器 ECS</div>
                                        <div class="content_description">全面覆盖多场景需求的高性能云服务器</div>
                                    </a>
                                </div>
                                <div class=" content_wrapper">
                                    <a href="" class="content_link">
                                        <div class="content_name">云服务器 ECS</div>
                                        <div class="content_description">全面覆盖多场景需求的高性能云服务器</div>
                                    </a>
                                </div>
                                <div class=" content_wrapper">
                                    <a href="" class="content_link">
                                        <div class="content_name">云服务器 ECS</div>
                                        <div class="content_description">全面覆盖多场景需求的高性能云服务器</div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="dropdown_level2_relevant_list">
                        <div class="level_inner">
                            <div class="relevant_title">相关云市场产品和服务</div>
                            <div class="slide_animation space_line"></div>
                            <div class="relevant_body">
                                <a href="">	网站数据迁移	</a>
                                <a href="">	网站数据迁移	</a>
                                <a href="">	网站数据迁移	</a>
                                <a href="">	网站数据迁移	</a>
                                <a href="">	网站数据迁移	</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="top_nav_common_dropdown">
            <div class="top_nav_common_dropdown_inner">
                <div class="top_nav_common_dropdown_all_product">
                    <div class="top_nav_common_product_nav_wrap">
                        <div class="top_nav_common_product_nav_most_visited">
                            <span class="top_nav_common_product_nav_most_visited_title">热门产品：</span>
                            <ul class="product_visited_list">
                                <li><a href="">云服务器 ECS</a></li>
                                <li><a href="">对象存储 OSS</a></li>
                                <li><a href="">云服务器 ECS</a></li>
                                <li><a href="">对象存储 OSS</a></li>
                                <li><a href="">云服务器 ECS</a></li>
                            </ul>
                            <span class="product_gather_gap"></span>
                            <ul class="product_gather_list">
                                <li><a href="">产品发布台</a></li>
                            </ul>
                        </div>
                        <div class="nav_most_visited_activity">
                            <a href="">
                                <img src="../static/img/vedio-icon.png" alt="">
                                <span>网络增强型服务器，450万PPS，0延迟</span>
                            </a>
                        </div>
                    </div>
                    <div class="top_nav_common_product_column_wrap">
                        <div class="product_column">
                            <div class="product_item">
                                <div class="product_item_title">弹性计算</div>
                                <ul>
                                    <li class="animate_text show">
                                        <a href="">
                                            云服务器 ECS
                                        </a>
                                        <img src="../static/img/hot02.png" alt="">
                                    </li>
                                    <li class="animate_text show">
                                        <a href="">
                                            云服务器 ECS
                                        </a>
                                        <img src="../static/img/hot02.png" alt="">
                                    </li>
                                    <li class="animate_text show">
                                        <a href="">
                                            云服务器 ECS
                                        </a>
                                    </li>
                                    <li class="animate_text show">
                                        <a href="">
                                            云服务器 ECS
                                        </a>
                                        <img src="../static/img/hot02.png" alt="">
                                    </li>
                                    <li class="animate_text show">
                                        <a href="">
                                            云服务器 ECS
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product_column">
                            <div class="product_item">
                                <div class="product_item_title">存储和CDN</div>
                                <ul>
                                    <li class="animate_text show">
                                        <a href="">
                                            云服务器 ECS
                                        </a>
                                        <img src="../static/img/new.png" alt="">
                                    </li>
                                    <li class="animate_text show">
                                        <a href="">
                                            云服务器 ECS
                                        </a>
                                    </li>
                                    <li class="animate_text show">
                                        <a href="">
                                            云服务器 ECS
                                        </a>
                                        <img src="../static/img/hot02.png" alt="">
                                    </li>
                                    <li class="animate_text show">
                                        <a href="">
                                            云服务器 ECS
                                        </a>
                                        <img src="../static/img/new.png" alt="">
                                    </li>
                                    <li class="animate_text show">
                                        <a href="">
                                            云服务器 ECS
                                        </a>
                                    </li>
                                    <li class="animate_text show">
                                        <a href="">
                                            云服务器 ECS
                                        </a>
                                        <img src="../static/img/hot02.png" alt="">
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product_column">
                            <div class="product_item">
                                <div class="product_item_title">弹性计算</div>
                                <ul>
                                    <li class="animate_text show">
                                        <a href="">
                                            云服务器 ECS
                                        </a>
                                        <img src="../static/img/hot02.png" alt="">
                                    </li>
                                    <li class="animate_text show">
                                        <a href="">
                                            云服务器 ECS
                                        </a>
                                    </li>
                                    <li class="animate_text show">
                                        <a href="">
                                            云服务器 ECS
                                        </a>
                                        <img src="../static/img/hot02.png" alt="">
                                    </li>
                                    <li class="animate_text show">
                                        <a href="">
                                            云服务器 ECS
                                        </a>
                                        <img src="../static/img/hot02.png" alt="">
                                    </li>
                                    <li class="animate_text show">
                                        <a href="">
                                            云服务器 ECS
                                        </a>
                                    </li>
                                    <li class="animate_text show">
                                        <a href="">
                                            云服务器 ECS
                                        </a>
                                        <img src="../static/img/new.png" alt="">
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product_column">
                            <div class="product_item">
                                <div class="product_item_title">存储和CDN</div>
                                <ul>
                                    <li class="animate_text show">
                                        <a href="">
                                            云服务器 ECS
                                        </a>
                                        <img src="../static/img/new.png" alt="">
                                    </li>
                                    <li class="animate_text show">
                                        <a href="">
                                            云服务器 ECS
                                        </a>
                                    </li>
                                    <li class="animate_text show">
                                        <a href="">
                                            云服务器 ECS
                                        </a>
                                    </li>
                                    <li class="animate_text show">
                                        <a href="">
                                            云服务器 ECS
                                        </a>
                                    </li>
                                    <li class="animate_text show">
                                        <a href="">
                                            云服务器 ECS
                                        </a>
                                    </li>
                                    <li class="animate_text show">
                                        <a href="">
                                            云服务器 ECS
                                        </a>
                                    </li>
                                    <li class="animate_text show">
                                        <a href="">
                                            云服务器 ECS
                                        </a>
                                        <img src="../static/img/new.png" alt="">
                                    </li>
                                    <li class="animate_text show">
                                        <a href="">
                                            云服务器 ECS
                                        </a>
                                    </li>
                                    <li class="animate_text show">
                                        <a href="">
                                            云服务器 ECS
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product_column">
                            <div class="product_item">
                                <div class="product_item_title">弹性计算</div>
                                <ul>
                                    <li class="animate_text show">
                                        <a href="">
                                            云服务器 ECS
                                        </a>
                                        <img src="../static/img/hot02.png" alt="">
                                    </li>
                                    <li class="animate_text show">
                                        <a href="">
                                            云服务器 ECS
                                        </a>
                                        <img src="../static/img/new.png" alt="">
                                    </li>
                                    <li class="animate_text show">
                                        <a href="">
                                            云服务器 ECS
                                        </a>
                                    </li>
                                    <li class="animate_text show">
                                        <a href="">
                                            云服务器 ECS
                                        </a>
                                    </li>
                                    <li class="animate_text show">
                                        <a href="">
                                            云服务器 ECS
                                        </a>
                                    </li>
                                    <li class="animate_text show">
                                        <a href="">
                                            云服务器 ECS
                                        </a>
                                    </li>
                                    <li class="animate_text show">
                                        <a href="">
                                            云服务器 ECS
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>